flows.json
[{"id":"3cf0e45e.6fad6c","type":"debug","z":"3515614f.3b9f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":284.00000381469727,"wires":[]},{"id":"fa5aca23.58f1b8","type":"http request","z":"3515614f.3b9f8e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/003912b2-69d2-4d05-bc13-ccb0c6fab6f2/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["3cf0e45e.6fad6c","f493a8c5.3d9ad8"]]},{"id":"38f71de.ad2f0e2","type":"debug","z":"3515614f.3b9f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":280,"wires":[]},{"id":"e87c687c.00de78","type":"function","z":"3515614f.3b9f8e","name":"Pre Prediction","func":"var ed = global.get(\"ed\")\nvar ji = global.get(\"ji\")\nvar jl = global.get(\"jl\")\nvar dr = global.get(\"dr\")\nvar mi = global.get(\"mi\")\nvar noc = global.get(\"noc\")\nvar twy = global.get(\"twy\")\nvar yac = global.get(\"yac\")\nvar yicr = global.get(\"yicr\")\nvar ysp = global.get(\"ysp\")\nvar ycm = global.get(\"ycm\")\nvar tt = global.get(\"tt\")\nvar attr = global.get(\"attr\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"Education\",\"JobInvolvement\",\"JobLevel\",\"DailyRate(USD)\",\"MonthlyIncome(USD)\",\"NoofCompaniesWorked\",\"TotalWorkingYears\",\"YearsAtCompany\",\"YearsInCurrentRole\",\"YearsSinceLastPromotion\",\"YearsWithCurrentManager\",\"TrainingTimesLastYear\",\"Attrition\"],\"values\":[[ed,ji,jl,dr,mi,noc,twy,yac,yicr,ysp,ycm,tt,attr]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":176.0000021457672,"wires":[["fa5aca23.58f1b8"]]},{"id":"ac9cc556.478ac8","type":"debug","z":"3515614f.3b9f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":67.0000057220459,"wires":[]},{"id":"f493a8c5.3d9ad8","type":"function","z":"3515614f.3b9f8e","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":108.00000190734863,"wires":[["ac9cc556.478ac8","cafdaaa.3486258"]]},{"id":"cafdaaa.3486258","type":"ui_text","z":"3515614f.3b9f8e","group":"86c915da.86ce68","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":341.20001220703125,"wires":[]},{"id":"e616a94d.23c608","type":"debug","z":"3515614f.3b9f8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":320,"wires":[]},{"id":"d70fab8c.dfe4c8","type":"ui_form","z":"3515614f.3b9f8e","name":"","label":"","group":"86c915da.86ce68","order":1,"width":0,"height":0,"options":[{"label":"Education","value":"ed","type":"text","required":true,"rows":null},{"label":"JobInvolvement","value":"ji","type":"text","required":true,"rows":null},{"label":"JobLevel","value":"jl","type":"number","required":true,"rows":null},{"label":"DailyRate(USD)","value":"dr","type":"number","required":true,"rows":null},{"label":"MonthlyIncome(USD)","value":"mi","type":"number","required":true,"rows":null},{"label":"NoofCompaniesWorked","value":"noc","type":"number","required":true,"rows":null},{"label":"TotalWorkingYears","value":"twy","type":"number","required":true,"rows":null},{"label":"YearsAtCompany","value":"yac","type":"number","required":true,"rows":null},{"label":"YearsInCurrentRole","value":"yicr","type":"number","required":true,"rows":null},{"label":"YearsSinceLastPromotion","value":"ysp","type":"number","required":true,"rows":null},{"label":"YearsWithCurrentManager","value":"ycm","type":"number","required":true,"rows":null},{"label":"TrainingTimesLastYear","value":"tt","type":"number","required":true,"rows":null},{"label":"Attrition","value":"attr","type":"text","required":true,"rows":null}],"formValue":{"ed":"","ji":"","jl":"","dr":"","mi":"","noc":"","twy":"","yac":"","yicr":"","ysp":"","ycm":"","tt":"","attr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["e616a94d.23c608","3b508615.57e83a"]]},{"id":"3b508615.57e83a","type":"function","z":"3515614f.3b9f8e","name":"pre-token","func":"global.set(\"ed\",msg.payload.ed)\nglobal.set(\"ji\",msg.payload.ji)\nglobal.set(\"jl\",msg.payload.jl)\nglobal.set(\"dr\",msg.payload.dr)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"noc\",msg.payload.noc)\nglobal.set(\"twy\",msg.payload.twy)\nglobal.set(\"yac\",msg.payload.yac)\nglobal.set(\"yicr\",msg.payload.yicr)\nglobal.set(\"ysp\",msg.payload.ysp)\nglobal.set(\"ycm\",msg.payload.ycm)\nglobal.set(\"tt\",msg.payload.tt)\nglobal.set(\"attr\",msg.payload.attr)\nvar apikey=\"_SH3AJK1FCM2jut0G2TVYBembpWw5Eix3qzNm_6jaocp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["d607de16.ad37e"]]},{"id":"d607de16.ad37e","type":"http request","z":"3515614f.3b9f8e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":224.00000286102295,"wires":[["38f71de.ad2f0e2","e87c687c.00de78"]]},{"id":"3a9631f9.3e637e","type":"inject","z":"3515614f.3b9f8e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["3b508615.57e83a"]]},{"id":"86c915da.86ce68","type":"ui_group","z":"","name":"New","tab":"979dcce6.f3ab7","order":1,"disp":true,"width":"6","collapse":false},{"id":"979dcce6.f3ab7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]